body {
    background-color: #1d428a;
    margin: 0;
}


/* Partie de la Nav Bar  */

.navbar {
    background-color: #c8102e;
    border-radius: 30px;
    border: solid 3px rgb(0, 0, 0);
    width: 75%;
    height: 50px;
    position: relative;
    left: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.navbar ul {
    /* Pour enlever les points des liens */
    list-style-type: none;
    display: inline-flex;
    width: 92%;
}


@font-face {
    font-family: 'NBA';
    src: url('font-family/NBA Pacers.ttf') format('truetype');
}

.navbar a {
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    font-size: 145%;
    font-family: NBA;
}

.navbar a:hover {
    color: #1d428a;
}

#players {
    left: 16%;
    bottom: 23%;
}

#nba {
    left: 43%;
    bottom: 23%;
}

#teams {
    left: 73%;
    bottom: 23%;
}

.navbar img {
    width: 90px;
    height: 80px;
    position: relative;
    top: 45px;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 13%;
    border: solid 3px black;
}


/* Partie du contenu */

main {
    overflow: auto;
}

main::-webkit-scrollbar {
    background: #1d428a;
}

img {
    width: 600px;
    margin-right: 15px;
}

main ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* Partie du footer  */

footer {
    background-color: #191919;
    color: #919399;
    padding: 3%;
    text-align: center;
}

footer h3 {
    margin: 0;
}